@import "../../common/less/shared";
@import "../../common/less/cardPiles";
@import "../../common/less/cardPreview";

.text-align-center {
    text-align: center;
}

div.draft-pack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    margin-top: 10px;

    > div {
        position: relative;
        padding: 0.1em;

        &.suggested-pick {
            background-color: red;

            .pick-rating {
                color: red;
            }
        }

        .pick-rating {
            position: absolute;
            top: 100px;
            left: 24px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-weight: bold;
            font-size: 2em;
        }
    }
}

div.suggest-pick {
    .text-align-center;
}

div.toggle-ai-picks {
    .text-align-center;
}
