@import "../../common/less/shared";

div.page-container {
    font-size: 18px;
    max-width: 110rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

div.highlighted-cards-reel img.card {
    width: 60px;
    height: auto;
    margin: 6px 3px;
}
